header {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

header .tiny {
	display: none;
}

header h1,
header p {
	margin: 0;
}

header h1 {
	color: #818385;
	font-size: 1.75rem;
	font-weight: 900;
	letter-spacing: 0.15rem;
	text-transform: uppercase;

	text-align: center;
	margin-right: 0;
}

header p {
	color: #818385;
	font-size: 16px;
	font-weight: bold;
}

header span {
	color: #818385;
	padding: 3px 6px;
	border-radius: 2px;
}

header a {
	color: #a6a6a6;
}

/* HEADER RESPONSIVE */
@media only screen and (max-width: 600px) {
	header h1 {
		color: #818385;
		font-size: 1.5rem;
		letter-spacing: 0.05rem;
	}

	header p {
		font-size: 0.85rem;
	}

	header p span {
		color: #818385;
		padding: 1px 2px;
		border-radius: 1px;
	}
}
