/* KEYBOARD */
.keyboard {
	display: grid;
	gap: 1px;
	margin: 5px 0 10px;
}

.keyboard .row,
.keyboard .winner {
	margin-bottom: 2px;

	display: flex;
	justify-content: center;
	gap: 2px;

	touch-action: manipulation;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.keyboard .winner {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.keyboard .tile {
	width: 2.8rem;
	height: 3.8rem;

	color: #D7DADD;
	font-size: 15px;

	border-width: 1px;
	border-radius: 6px;
	border-color: #121213;

	cursor: pointer;
  z-index: 5;
}

.keyboard button {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.keyboard .tile:not(.present, .correct, .wrong, .double) {
	background: #747474;
}

.keyboard .tile:not(.present, .correct, .wrong, .double):hover,
.keyboard .tile:not(.present, .correct, .wrong, .double):active {
	background: #818385;
}

.keyboard .tile.correct,
.keyboard .tile.present,
.keyboard .tile.wrong {
	color: white;
}

.keyboard .double {
	width: 4.4rem;
	background: #747474;
}

.keyboard .large {
  width: 14rem;
  display: flex;
}

.keyboard .enter {
	font-size: 15px;
}

/* KEYBOARD RESPONSIVE */
@media only screen and (max-width: 600px) {
	/* .keyboard .tile {
		font-size: 1rem;
		width: 2.5rem;
		height: 3.5rem;
	}

	.keyboard .double {
		width: 4rem;
	}

	.keyboard .enter {
		font-size: 0.85rem;
	} */

	.keyboard .tile {
		width: 2.1rem;
		height: 3rem;
	}

	.keyboard .double {
		width: 3.2rem;
	}


	.keyboard .large {
		width: 10rem;
	}

	.keyboard .enter {
		font-size: 0.875rem;
	}

}

/* TODO: DOESNT SEEM TO WORK ON IPHONE */
@media only screen and ((max-width: 480px) or (max-height: 700px)) {
	.keyboard .tile {
		font-size: 0.875rem;
		width: 2.1rem;
		height: 3rem;
	}

	.keyboard .double {
		width: 3.75rem;
	}

	.keyboard .large {
		width: 10rem;
	}

	.keyboard .enter {
		font-size: 0.875rem;
	}
}
